
@{
    ViewBag.Title = "Index";
}

<h2>Materiais</h2>

<ul>
    <li><button onclick="window.location.href='@Url.Action("CarregarPagina", "Material", new { material = "Fundo" })'">Fundo</button></li>
    <li><button onclick="window.location.href='@Url.Action("CarregarPagina", "Material", new { material = "Moldura" })'">Moldura</button></li>
    <li><button onclick="window.location.href='@Url.Action("CarregarPagina", "Material", new { material = "Impressao" })'">Impressão</button></li>
    <li><button onclick="window.location.href='@Url.Action("CarregarPagina", "Material", new { material = "Vidro" })'">Vidro</button></li>
</ul>
